{#include layout}
    {#title}API-Key -- Use OpenAI and ChatGPT{/title}
    <div style="margin-top:20px;">
        We need your OpenAI API key for doing the work. Afterward, ChatGPT will help you chat with a dating partner.. &#128525;  <br/><br/>
        <strong>Please enter your API key here:</strong>

        <form method="POST" action="apiKey" style="margin-top: 10px;" enctype="application/x-www-form-urlencoded">
            <input type="text" name="key" style="border: 3px solid green;font-size: 20px;padding:5px;min-width:600px;" placeholder="Enter your Open AI key here" value="{key??}"/>
            <input type="submit" value="Submit Key" style="border: 1px solid black;font-size: 20px;padding:5px;min-width:200px;" />
        </form>

        {#if apiKeyErrors??}
            <div style="color:red;margin-top:5px;">
               {apiKeyErrors}
            </div>
        {/if}

    </div>
    <hr style="margin:30px;"/>
    <div style="margin-top:50px;opacity:70%;">
        <strong>Where to find your API key?</strong> <br/><br/>

        Go to <a href="https://platform.openai.com/account/api-keys" target="_blank">Open AI - api keys</a> and create and API key if you don't have one already:
        <br/><br/>
        <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*xe0F2UWVpfzqn_HLczsY7g.png" style="height:500px;"/>
        <br/><br/>
        <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*xOHG8-BYjyvenNRAstUNWg.png" style="height:500px;"/>

    </div>
{/include}