{#include layout}
    {#title}Use OpenAI and ChatGPT{/title}
    <div class="flex-container">
        <div class="flexUpperRight">
            ApiKey: {apiKey ?: 'No API key defined'}
        </div>
        <div class="flexFull">
            <strong>Demo: Chatting with a date partner &#128525;</strong> <br/><br/>
            This is a demonstration of how to use ChatGPT via the API. The use case is a very exciting one. Especially if you are single. ;) <br/>
            Imagine you are chatting with a potential date and don't know what to say. Just paste the chat-text of you partner here and you get your answer pre generated. <br/>
            Before you start you need to select your dating goal. &#128522;
        </div>
    </div>
{/include}