{#include layout}
    {#title}Play with Quarkus & ChatGPT{/title}

    <h2>Please choose:</h2>
    <ul>
        {#each navigation}
            <li> <a href="{it.value}">{it.key.raw}</a> </li>
        {/each}
    </ul>


    <div style="margin-top:30px;">
        <hr/>
        <h2>More experiments:</h2>
        <ul>
            <li>
                <a href="/hello/reactive">Reactive asynchronous Request/Response</a>
            </li>
            <li>
                <a href="/hello/blocking">Blocking synchronous Request/Response</a>
            </li>
        </ul>
    </div>


    <div style="margin-top:30px;">
    {#hello testData}
        This is a "User-defined Tag" (custom tags) in Qute.
    {/hello}
    </div>

    {!{defaultTexte ?: 'var not found'}!}

{/include}

